
#wpfooter {
    position: static;
    margin-left: 0px !important;
}

#footer-left {
    margin-left: 160px !important
}

.connection_section_class .form-table tr .titledesc {
    width: 300px;
}

.connection_section_class .button-primary,
.connection_section_class .is-primary {
    font-size: 13px !important;
    height: 40px;
    margin-left: 24px;
    width: 163px !important;
    justify-content: center;
    text-transform: capitalize;
}

.sm_test_connection {
    font-size: 13px !important;
    width: 167px !important;
    text-align: center;
}

.sm_test_connection:hover {
    background: #008ec2;
    color: #fff;
    border-color: #006799;
}

.connection_section_class p.submit {
    float: right;
    text-align: left;
    width: calc(100% - 310px);
}

.connection_section_class p.submit > * {
    line-height: 2.9 !important;
}

.connection_section_class .connection_save_button {
    margin-left: 15px;
    width: 167px !important;
    height: 40px;
    background: #0085ba none repeat scroll 0 0;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}

.connection_section_class input {
    width: 350px !important;
}

.connection_section_class label {
    cursor: default;
}

.quote_section_class_smpkg select {
    height: 34px !important;
}

.quote_section_class_smpkg p.description {
    font-style: normal;
    margin: 0px;
}

.quote_section_class_smpkg input[type="text"] {
    height: 34px !important;
}

.quote_section_class_smpkg textarea {
    width: 350px;
    border-radius: 4px;
}

.quote_section_class_smpkg input[type=checkbox]:checked:before {
    margin: -1px 0 0 -3px !important;
}

.quote_section_class_smpkg input[type="checkbox"] {
    cursor: default;
    height: 20px;
    width: 20px;
}

.quote_section_class_smpkg .form-table tr .titledesc {
    width: 300px;
}

.quote_section_class_smpkg label {
    cursor: default;
}

.quote_section_class_smpkg .button-primary,
.quote_section_class_smpkg .is-primary {
    width: 120px !important;
    margin-left: 435px;
    height: 36px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    justify-content: center;
    text-transform: capitalize;
}

.handeling_fee_err {
    color: #d54e21;
    font-size: 13px;
    display: block;
}


.connection_section_class .connection_save_button {
    margin-left: 15px;
    width: 190px !important;
    height: 40px;
    background: #298cba none repeat scroll 0 0 !important;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}

.connection_section_class input {
    width: 350px;
}

.class_success_message {
    margin: 5px 0 15px !important;
    border-left-color: #46b450 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 9.5px 12px;
}

.class_error_message {
    margin: 5px 0 15px !important;
    border-left-color: #dc3232 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 9.5px 12px;
}

.sm_setting_section .button-primary, .sm_setting_section .is-primary, 
.user_guide p.submit, .wwe-compare-rates p.submit {
    display: none;
}

.user_guide {
    margin: 70px auto;
    padding: 20px 20px 35px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.user_guide p {
    font-size: 14px;
}

a:focus {
    box-shadow: none !important;
}

.p_ds_location {
    width: 50% !important;
}

label[for=wc_settings_wwe_delivery_estimate] {
    font-size: 13px;
    font-style: italic;
}

label[for=wc_settings_wwe_allow_for_own_arrangment] {
    font-size: 13px;
    font-style: italic;
}

.quotes_services_td {
    padding: 0px 10px !important;
    font-size: 12px !important;
}

.prevent_text_box {
    padding: 7px;
    font-size: 13px;
}

label[for="wc_settings_account_number_wwe_small_packages_quotes"]:after, label[for="wc_settings_username_wwe_small_packages_quotes"]:after, label[for="wc_settings_password_wwe_small_packages"]:after, label[for="wc_settings_authentication_key_wwe_small_packages_quotes"]:after, label[for="wc_settings_plugin_licence_key_wwe_small_packages_quotes"]:after, label[for="wwe_small_client_id"]:after, label[for="wwe_small_client_secret"]:after {
    content: " *";
    color: red;
}

label[for="sm_origin_zip"]:after, label[for="sm_origin_city"]:after, label[for="sm_origin_state"]:after, label[for="sm_origin_country"]:after {
    content: " *";
    color: red;
}

input[type="checkbox"] {
    cursor: default;
}

.woocommerce_variable_attributes div.data select {
    width: 100% !important;
}

.woocommerce_variable_attributes div.data .checkbox {
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.en-list {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 15px;
}

.form-row select {
    height: 35px !important;
}

.warning-msg {
    margin: 5px 0 15px !important;
    border-left-color: #ffb900 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 3px 12px;
    display: none;
}

.warning-msg p, .test_conn_msg p, .test_err_msg p, .wrng_credential p, .not_allowed p {
    margin: .5em 0;
}

.test_conn_msg {
    margin: 5px 0 15px !important;
    border-left-color: #46b450 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 9.5px 12px;
}

.test_err_msg {
    margin: 5px 0 15px !important;
    border-left-color: #dc3232 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 9.5px 12px;
}

@media only screen and (max-width: 853px) {
    .connection_section_class p.submit {
        float: left;
        text-align: left;
        width: calc(100% - 310px);
    }

    .connection_section_class .button-primary,
    .connection_section_class .is-primary {
        margin-top: 10px;
    }

}

.wc_settings_quest_as_residential_delivery_wwe_small_packages th,
.avaibility_auto_residential th {
    margin-left: 10px !important;
    font-weight: 400;
}

label[for='residential_delivery_options_label_heading'],
label[for='auto_residential_delivery_plan_auto_renew'],
label[for='residential_delivery_current_subscription'],
label[for='residential_delivery_current_usage'],
.suspend_automatic_detection_of_residential_addresses_style .titledesc {
    font-weight: 600 !important;
}

.wc_settings_quest_as_residential_delivery_wwe_small_packages th,
.avaibility_auto_residential th {
    padding: 0px 10px 0px 15px !important;
    font-weight: 400 !important;
}

.wc_settings_quest_as_residential_delivery_wwe_small_packages td,
.avaibility_auto_residential td {
    padding: 0px 10px !important;
}

.quote_section_class_smpkg .restrict_calendar_transit_wwe_small_packages th,
.quote_section_class_smpkg .ground_transit_wwe_small_packages th {
    padding: 10px 10px 0px 15px !important;
    font-weight: 400 !important;
}

.quote_section_class_smpkg span.description {
    font-style: normal !important;
}

.ground_transit_label td a,
.wwe_small_cutOffTime_shipDateOffset_required_label td a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    display: inline-block;
    margin: 0px 0px 5px -111px;
}

.hazardous_material_settings td a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    display: inline-block;
    margin: 0px 0px 5px -122px;
}

._dropship_location a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    display: inline-block;
    margin: 3px 0 0 0;
}

p.form-field._dropship_location .p_ds_location {
    margin: 0 10px 0 0px;
}

.quote_section_class_smpkg .air_hazardous_material_fee th,
.quote_section_class_smpkg .ground_hazardous_material_fee th,
.quote_section_class_smpkg .only_quote_ground_service_for_hazardous_materials_shipments th {
    padding: 10px 10px 0px 15px !important;
    font-weight: 400 !important;
}

textarea.prevent_text_box {
    width: 250px;
    border-radius: 1px;
}

.wwe_small_markup_label_tr th {
    padding: 0px 10px 0px 15px !important;
    font-weight: 400 !important;
}

.wwe_small_markup_label_tr td {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.wwe_small_markup {
    border-radius: unset !important;
}

input#wc_settings_quest_as_residential_delivery_wwe_small_packages, input#only_quote_ground_service_for_hazardous_materials_shipments {
    margin-left: 0px !important;
}

tr.wc_settings_hand_free_mark_up_wwe_small_packages_tr span.description,
tr.air_hazardous_material_fee span.description,
tr.ground_hazardous_material_fee span.description {
    display: block;
}

span.wwe_small_custom_message textarea.prevent_text_box {
    width: 400px !important;
}

.quote_section_class_smpkg input[type="text"], .quote_section_class_smpkg select {
    width: 300px !important;
    border-radius: 1px;
    height: 36px !important;
}

.connection_section_class input[type="text"], .connection_section_class select {
    width: 350px !important;
    border-radius: 1px;
    height: 36px !important;
}

/*estimated delivery options css*/
.quote_section_class_smpkg tbody {
    display: block;
}

tr.wwe_small_shipment_day_tr th,
#service_wwe_small_estimates_title, 
#wwe_small_packaging_method_label {
    display: none;
}

.quote_section_class_smpkg p.description {
    font-style: normal;
    margin: 0px;
}

.quote_section_class_smpkg tr.residential_delivery_options_plans_style {
    padding-top: 30px;
}

tr.service_wwe_small_estimates_title_tr th {
    font-size: 1.2em;
    padding-bottom: 0px !important;
}

.wwe_small_cutOffTime_shipDateOffset th {
    font-weight: 400;
    padding-left: 15px;
    padding-right: 16px !important;
}

.wwe_small_markup_tr td,
.wwe_small_quotes_right_markup td {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.wwe_small_markup_tr th,
.wwe_small_quotes_right_markup th {
    display: none;
}

.quotes_services_tr td,
.wwe_small_markup_tr th,
.wwe_small_markup_tr td,
.wwe_small_quotes_services_tr td,
.wwe_small_quotes_right_markup th,
.wwe_small_quotes_right_markup td {
    margin: 0px 0px 0px 0px !important;
    padding-top: 0px !important;
}

.quotes_services_tr th,
.wwe_small_quotes_services_tr th {
    padding: 10px 0px 10px 10px;
}

/*Css for nested material fields*/
._nestedDimension, ._nestedStakingProperty {
    width: 50% !important;
}

._nestedMaterials_tr .description a,
.woocommerce_variable_attributes.wc-metabox-content p span.description a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    position: relative;
    font-style: normal;
    margin-left: 15px;
}

._nestedMaterials_tr .description {
    font-style: normal;
    font-size: 12px;
}

.disabled_me._nestedDimension, .disabled_me._nestedStakingProperty {
    color: #000000;
}

#order_shipping_line_items .shipping .display_meta {
    display: none;
}

/*Week shipment days css*/
tr.all_shipment_days_wwex_small_tr {
    display: inline-block;
}

tr.wwex_small_shipment_day_tr {
    display: inline-block;
}

tr.wwex_small_shipment_day_tr th {
    display: none;
}

tr.all_shipment_days_wwex_small_tr th {
    padding-left: 17px;
    font-weight: normal;
}

tr.all_shipment_days_wwex_small_tr td {
    padding-left: 0px;
}

.en-coupon-code-div{
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.en-coupon-notice{
    border-left-color: #72aee6;
}

.en-coupon-success{
    border-left-color: #00a32a;
}

.en-coupon-error{
    border-left-color: #d63638;
}

.en-coupon-btn-div{
    text-align: center;
    margin-bottom: 12px;
}

.en-error-message{
    color: #dc3232 !important;
}
/*fdo va*/
/* Create two equal columns that floats next to each other */
.half-column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.parent-column:after {
    content: "";
    display: table;
    clear: both;
}
.dn {
    display:none;
}
.dnblock {
    float: none;
    text-align: center;
    width: auto;
    padding-top: 0px;
}
.user_guide_fdo {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}
.user_guide_fdo p.submit {
    display: none;
}
#freightdesk_online_id {
    width: 98%;
    padding: 3px;
}
.wwe-cr-main{
    width: 100%;
    margin: 10px;
    margin-bottom: 15px;
    height: 900px;
}
.wwe-cr-input {
    display: flex;
    flex-wrap: wrap;
}
.wwe-cr-input > div {
    flex: 50%;
    margin-bottom: 10px;
}
.cr-input-origin, .cr-input-destination {
    width: 100%;
    box-sizing: border-box;
}
.cr-input-origin tr {
    display: flex;
    flex-wrap: wrap;
}
.wwe-cr-container .item {
    width: 100%
} 
.wwe-cr-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding: .5rem 2rem;
}
.wwe-cr-container > div {
    flex: 1 1 40%;    
}
.wwe-cr-container .item {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
}
.wwe-cr-container .item > label {
    flex-basis: 50%;
}
.wwe-cr-container .item > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.wwe-cr-container .item h3 {
    margin-left: 1rem;
}
.quotes-btn div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: .5rem;
}
.quotes-btn div button {
    width: fit-content;
    align-self: flex-end;
}
.wwe-cr-container .item span {
    color: red;
    display: inline-block;
}
.item.opaque {
    opacity: 0;
    cursor: default;
}
.item.rad-delivery label {
    flex-basis: 100%;
}
.wwe-cr-output {
    max-width: 80%;
    margin: 2rem auto;
}
.wwe-cr-container .item select {
    width: 100% !important;
    margin: 0 !important;
}
.wwe-cr-container .wwe-cr-org-city-select, .wwe-cr-container .wwe-cr-dest-city-select {
    display: none;
}
.wwe-cr-wrapper {
    border: 1px solid #ccc;
    max-width: 80%;
    margin: 2em auto;
}
.wwe-cr-residential-delivery {
    justify-content: flex-start;
}
.wwe-cr-residential-delivery label {
    flex: 1;
}
.wwe-cr-links, .wwe-cr-descripton {
    max-width: 80%;
    margin: auto;
}
.quote_section_class_smpkg .form-table tbody {
    display: block;
}

.quote_section_class_smpkg tr.wwe_small_int_srvc_hdng_tr,
.quote_section_class_smpkg tr.wc_settings_inter_select_all,
.quote_section_class_smpkg tr.wwe_small_quotes_services_tr,
.quote_section_class_smpkg tr.quotes_services_tr,
.quote_section_class_smpkg tr.wwe_small_markup_tr, 
.quote_section_class_smpkg tr.wwe_small_quotes_markup_right_markup_tr,
.quote_section_class_smpkg tr.wwe_small_quotes_right_markup {
    width: 49% !important;
    display: inline-flex;
}

.quote_section_class_smpkg p.submit {
    display: flex !important;
    justify-content: end !important;
}

.wwe_small_quote_section tr.wwe_small_quotes_services_tr th,
.wwe_small_quote_section tr.wwe_small_quotes_services_tr td,
.wwe_small_quote_section tr.wwe_small_quotes_left_markup th,
.wwe_small_quote_section tr.wwe_small_quotes_left_markup td,
.wwe_small_quote_section tr.wwe_small_quotes_markup_right_markup_tr th,
.wwe_small_quote_section tr.wwe_small_quotes_markup_right_markup_tr td {
    margin: 0px 0px 0px 0px !important;
    padding-top: 0px !important;
}

.remove_flex_display {
    display: block !important;
}

.wwe_small_services_hdng {
    margin-bottom: 1rem !important;
}

tr.wwe_small_services_hdng input[type="checkbox"] {
    display: none !important;
}

/* Product variant UI styles */
.woocommerce_variable_attributes.wc-metabox-content [class^="_dropship_location"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_ltl_freight"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nmfc_number"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_en_product_markup"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedPercentage"],
.woocommerce_variable_attributes.wc-metabox-content [class^="en_flat_rate_price"],
.woocommerce_variable_attributes.wc-metabox-content select._nestedDimension,
.woocommerce_variable_attributes.wc-metabox-content input._maxNestedItems,
.woocommerce_variable_attributes.wc-metabox-content select._nestedStakingProperty {
    width: 100% !important;
    max-width: 100% !important;
}
.woocommerce_variable_attributes.wc-metabox-content > p {
    margin: 15px !important;
}
.woocommerce_variable_attributes.wc-metabox-content .data h2.sbs_settings_title {
    padding: 0 !important;
    margin: 30px 0 -10px 3px !important;
}
.woocommerce_variable_attributes.wc-metabox-content h2 {
    padding: 0 !important;
    margin: 30px 0 0 30px !important;
}
.woocommerce_variable_attributes.wc-metabox-content [class^="_dropship_location"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_ltl_freight"],
.woocommerce_variable_attributes.wc-metabox-content [class^="en_flat_rate_price"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_en_product_markup"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedPercentage"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedDimension"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_maxNestedItems"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedStakingProperty"] {
    margin: 2px 0 0;
    padding: 5px;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_flat_rate_price"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_en_product_markup"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_nestedPercentage"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_nestedDimension"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_maxNestedItems"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_nestedStakingProperty"] span.woocommerce-help-tip {
    float: right;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_multiply_cart_quantity"],
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_enable_dropship"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_rot_ver"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_own_pack"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_multiple_packages"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_nestedMaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_hazardousmaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_insurance_fee"] {
    display: flex;
    align-items: center;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_multiply_cart_quantity"] input[id^="en_multiply_cart_quantity"],
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_enable_dropship"] input[id^="_enable_dropship"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_rot_ver"] input[id^="_en_rot_ver"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_own_pack"] input[id^="_en_own_pack"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_multiple_packages"] input[id^="_en_multiple_packages"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"] input[id^="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] input[id^="_en_vrf_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_nestedMaterials"] input[id^="_nestedMaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] input[id^="_en_vrf_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_hazardousmaterials"] input[id^="_hazardousmaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_insurance_fee"] input[id^="_en_insurance_fee"] {
    order: -1;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_multiply_cart_quantity"] input[id^="en_multiply_cart_quantity"],
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_enable_dropship"] input[id^="_enable_dropship"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_nestedMaterials"] input[id^="_nestedMaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_hazardousmaterials"] input[id^="_hazardousmaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_insurance_fee"] input[id^="_en_insurance_fee"] {
    margin: 0 10px 0 0 !important;
}
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_rot_ver"] input[id^="_en_rot_ver"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_own_pack"] input[id^="_en_own_pack"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_multiple_packages"] input[id^="_en_multiple_packages"] {
    margin: 0 10px 0 15px !important;
}
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] {
    margin-left: 30px !important;
}
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"] input[id^="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] input[id^="_en_vrf_pallet"] {
    margin-right: 10px !important;
}
.woocommerce_variable_attributes.wc-metabox-content .data fieldset[class*="_signature_required"] legend {
    margin-bottom: 5px !important;
}
.woocommerce_variable_attributes.wc-metabox-content .data fieldset[class*="_signature_required"] ul[class*="wc-radios"] li {
    padding: 0 !important;
}